{% extends 'base.twig' %}

{% block title %}Suppression d'un produit : {{ id }}{% endblock %}
{% block body %}
{% if status == 1 %}
    <h1>La suppression du produit {{ id }} a bien été effectuée</h1>
{% endif %}
{% endblock %}