<nav>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row ">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">A Propos</h4>
                        <p class="text-muted">A chacun son cinéma. Cinéphile ou simple amateur à la recherche d'un avis, Mondociné vous parle de tout. Retrouvez nos critiques, l'actualité ciné & vidéo..</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/index.php" class="navbar-brand d-flex align-items-center">
                    <img src="/img/divers/logo.svg" width="30" height="30" style="color:white"/>
                    <strong>Mondocine</strong>
                </a>
                <a class="text-white" href="/index.php">Accueil <span class="sr-only">(current)</span></a>
                <a class="text-white" href="/films">Les Films</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
</nav>
