{% extends 'base.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
<main class="text-center container w-25">
    <h1>Connexion</h1>
    {% if not user %}
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                       class="form-control {% if errorMessageEmail is defined and errorMessageEmail is not null %} is-invalid {% endif %}"
                       id="email" name="email">
                <div class="invalid-feedback">{% if errorMessageEmail is defined and errorMessageEmail is not null %} {{ errorMessageEmail }} {% endif %}</div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password"
                       class="form-control {% if errorMessagePassword is defined and errorMessagePassword is not null %} is-invalid {% endif %}"
                       id="password" name="password">
                <div class="invalid-feedback">{% if errorMessagePassword is defined and errorMessagePassword is not null %} {{ errorMessagePassword }} {% endif %}</div>
            </div>
            <input type="submit" value="Se connecter" class="btn btn-outline-success">
        </form>
    {% else %}
        Hello {{ session['user_name'] }}
        <br><a href='?exit=yes'>Se déconnecter</a>
    {% endif %}
    </main>
{% endblock %}
